:root {
  --celeste: #299ea8;
}

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #000;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

hr {
  border: 1px solid var(--celeste);
}

nav {
  background: var(--celeste);
  z-index: 2;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Portada */
#portada {
  height: 600px;
}

.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 600px;
}

/* Presentación */
#presentacion {
  color: white;
}

#presentacion span {
  background: var(--celeste);
  padding: 5px;
}

#presentacion span i {
  font-size: 20px;
}

/* Destacados */
#destacados {
  color: white;
}

#destacados img {
  height: 150px;
}

#destacados .card {
  background: var(--celeste);
  margin-bottom: 10px;
}

/* Contacto */
#contacto h2 {
  color: white;
}

/* Footer */
footer {
  background: var(--celeste);
  text-align: center;
}

footer a {
  color: white;
}

footer h3 {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
}

footer i {
  font-size: 26px;
}

footer li {
  padding: 5px;
}

footer ul {
  justify-content: center;
  margin-bottom: 0;
}
